---
layout: default
title: Education
navbar_title: Education
---
<div class="row">
    <div class="col-12">
        {% if site.data.education %}
            {% for item in site.data.education %}
            <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
                <div class="p-3">
                    <h4>{{ item.degree }}</h4>
                    <h5>{{ item.institution }}</h5>
                    {% if item.date %}<p class="text-muted">{{ item.date }}</p>{% endif %}
                    {% if item.description %}<p>{{ item.description }}</p>{% endif %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
