---
layout: default
title: Experience
navbar_title: Experience
---
<div class="row">
    <div class="col-12">
        {% if site.data.experience %}
            {% for exp in site.data.experience %}
            <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
                <div class="p-3">
                    <h4>{{ exp.position }}</h4>
                    <h5>{{ exp.company }}</h5>
                    {% if exp.date %}<p class="text-muted">{{ exp.date }}</p>{% endif %}
                    {% if exp.description %}<p>{{ exp.description }}</p>{% endif %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
