---
layout: default
title: Experience
navbar_title: Experience
---
<div class="row">
    <div class="col-12">
        {% if site.data.experience %}
            {% for exp in site.data.experience %}
            <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
                <div class="p-3">
                    <h4>{{ exp.position }}</h4>
                    <h5>{{ exp.company }}</h5>
                    {% if exp.start_date and exp.end_date %}
                        <p class="text-muted">{{ exp.start_date | date: "%b %Y" }} - {{ exp.end_date | date: "%b %Y" }}</p>
                    {% elsif exp.start_date %}
                        <p class="text-muted">{{ exp.start_date | date: "%b %Y" }} - Present</p>
                    {% endif %}
                    {% if exp.description %}<p>{{ exp.description }}</p>{% endif %}
                    {% if exp.highlights %}
                        <ul>
                            {% for highlight in exp.highlights %}
                                <li>{{ highlight }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
