---
layout: default
title: The Pop Me!
navbar_title: ThePopMe!
---
<div class="row">
    <div class="col-12">
        {% if site.data.hobbies %}
            {% for item in site.data.hobbies %}
            <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
                <div class="p-3">
                    <h4>{{ item.title }}</h4>
                    {% if item.description %}<p>{{ item.description }}</p>{% endif %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
