---
layout: default
title: Other Academia
navbar_title: OtherAcademia
---
<div class="row">
    <div class="col-12">
        <h2>Talks</h2>
        {% if site.data.talks %}
            {% for talk in site.data.talks %}
            <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
                <div class="p-3">
                    <h4>{{ talk.title }}</h4>
                    <h5>{{ talk.venue }}</h5>
                    {% if talk.date %}<p class="text-muted">{{ talk.date }}</p>{% endif %}
                </div>
            </div>
            {% endfor %}
        {% endif %}

        <h2 class="mt-4">Volunteering</h2>
        {% if site.data.volunteering %}
            {% for vol in site.data.volunteering %}
            <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
                <div class="p-3">
                    <h4>{{ vol.organization }}</h4>
                    <h5>{{ vol.role }}</h5>
                    {% if vol.date %}<p class="text-muted">{{ vol.date }}</p>{% endif %}
                    {% if vol.description %}<p>{{ vol.description }}</p>{% endif %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
