---
layout: default
title: News
navbar_title: News
---
<div class="row">
    <div class="col-12">
        {% if site.news %}
            {% for item in site.news %}
            <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
                <div class="p-3">
                    {% if item.date %}<p class="text-muted">{{ item.date | date: "%b %d, %Y" }}</p>{% endif %}
                    {{ item.content }}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
